@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800&family=DM+Serif+Display:ital@0;1&display=swap");
:root {
	--primary-color: #2766cc;
	--secondary-color: #ffde09;
	--light-color: #2a3543;
	--input-focus: #0b6bcb;
	--background-color: #131a21;
	--icon-color: #44d25c;
	--text-color: #4a535f;
	--posttext-color: #f0f8ff;
	--reaction-icons-color: #545a5f;
	--status-bg-color: #3d3d3d;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Barlow", sans-serif;
	font-family: "DM Serif Display", serif;
	background-color: var(--background-color);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
	}
}

.box-shadow-login {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-hover:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset !important;
}
.navbar-selected {
	box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset !important;
}

.sidebar-box-shadow {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.blend-dark {
	box-shadow: rgba(170, 251, 227, 0.507) 0px 2px 5px -1px,
		rgba(224, 242, 235, 0.522) 0px 1px 3px -1px !important;
}

/* NavBar CSS */

#navbar {
	background-color: var(--light-color);
	padding: 5px;
	box-sizing: border-box;
	position: sticky;
	top: 0;
	z-index: 100;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.navbar-content {
	display: flex;
	width: 100%;
	max-width: 1380px;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

#logo {
	font-size: 1.8rem;
	font-weight: 600;
	padding: 10px 0 10px;
}

/* @media (max-width: 768px) {
	font-size: 1.2rem;
} */
.search-input {
	width: 35%;
	position: relative;
	margin: 5px;
	display: flex;
	align-items: center;
	overflow: hidden;
	border-radius: 0.375rem;
	background-color: var(--background-color);
}
.search-input > input {
	width: 100%;
	font-size: large;
	background-color: var(--background-color);
	outline: none;
	padding: 0.7rem;
	margin-left: 2rem;
	border: none;
	color: var(--posttext-color);
}

.search-input > input:focus {
	/* Adjust focus styling as needed */
	box-shadow: 0 0 0 2px var(--reaction-icons-color); /* Replace with the actual color you intend to use */
}

.icon-template {
	position: absolute;
	margin-left: 0.5rem;
}

.menu-options {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 35%;
}

.icon-button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--posttext-color);
	font-size: medium;
	font-weight: 500;
}

.button-icon {
	margin-left: 5px;
}

.feed {
	margin-top: 0.1rem;
	display: block;
}

.fonts-style {
	font-size: medium;
	color: var(--reaction-icons-color);
	font-weight: 500;
	margin: 10px 0px;
}

.rdrCalendarWrapper {
	background-color: var(--light-color) !important;
	color: var(--posttext-color) !important;
	border-radius: 0.375rem !important;
}
.feed-components-cards {
	display: flex;
	justify-content: space-between;
}

.card-score-container {
	width: 33%;
}

.martches-card {
	background-color: var(--light-color);
	width: 40%;
	border-radius: 4px;
}
.cards-score {
	background-color: var(--status-bg-color);
	width: 100%;
	border-radius: 4px;
}

.filter {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	align-items: center;
	background-color: var(--status-bg-color);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.filter-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
}
.filter-btn-active {
	color: var(--icon-color);
	border: 1px solid var(--icon-color);
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	font-weight: 700;
	font-size: small;
}
.filter-btn {
	color: var(--posttext-color);
	border: 1px solid var(--posttext-color);
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	font-weight: 400;
	font-size: small;
}

.rdrDateDisplayWrapper {
	background-color: var(--status-bg-color) !important;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.total-matches {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	color: #131a21;
	font-weight: 600;
	background-color: var(--secondary-color);
	border-radius: 100%;
	font-size: small;
}

.cards-score {
	text-align: center;
}
.card-score-status {
	padding: 15px;
}

.country-match {
	font-weight: 300;
	font-size: medium;
}

h2 {
	font-weight: 350;
	box-sizing: border-box;
	margin-top: 10px;
}

.score-number {
	font-size: 4rem;
	font-weight: 200;
	box-sizing: content-box;
}
.country-game {
}

.country-game > img {
	width: 20px;
	height: 40px;
	border-radius: 100%;
}
.country-flag-icon {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 15px 5px 15px;
}

.country-name {
	color: var(--text-color);
	margin: 0px;
	font-weight: 600;
	margin-left: 1rem;
	font-size: 12px;
}
.country-flag-properties {
	display: flex;
	align-items: center;
}
.country-flag-categ,
.team-name,
.country-flag-categ-active {
	margin: 0px;
	font-weight: 600;
	margin-left: 1rem;
	font-size: 12px;
}

.country-flag-categ-active {
	color: var(--icon-color);
	margin-bottom: 5px;
}

.game-status {
	display: flex;
	align-items: center;
}
.country-game-status {
	text-align: center;
}

.game-time,
.game-time-status {
	font-size: 12px;
	color: var(--reaction-icons-color);
	font-weight: 600;
}
.game-time-status {
	color: var(--icon-color);
}

.team-prop {
	display: flex;
	align-items: center;
}

.line-empty {
	width: 2px;
	height: 35px;
	margin-left: 1rem;
	margin-right: 1rem;
	background-color: var(--text-color);
}

.icon-team {
	margin-right: 5px;
}

.teams-play {
	display: flex;
	padding: 5px 15px 5px 15px;
	transition: background-color 0.3s ease;
	justify-content: space-between;
	cursor: pointer;
	border-bottom: 1px solid var(--text-color);
}
.teams-play:hover {
	background-color: var(--background-color);
}

.time-match {
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-content: space-between;
	margin-top: 10px;
	width: 80%;
}

.team-name {
	margin-left: 0;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.line-empty-team {
	margin-left: 5px;
	margin-right: 5px;
	width: 2px;
	height: 40px;
	background-color: var(--text-color);
}

/* Progression */
.inner_box {
	position: absolute;
	width: 81px;
	height: 81px;
	background-color: #3d3d3d;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 2rem;
}

.outer_box {
	width: 84px;
	height: 86px;
	position: relative;
	border-radius: 50%;
	background: conic-gradient(#44d25c 0turn 90deg, var(--text-color) 0turn);
}

.time-match > p {
	font-size: large;
}

.status-title {
	text-align: left;
	padding: 16px;
	border-bottom: 1px solid var(--text-color);
	/* color: var(--input-focus); */
	font-weight: 600;
}

.live {
	margin-top: 10px;
	color: var(--secondary-color);
}

/* ALl Media QUerry */
@media (max-width: 768px) {
	.icon-button > span {
		display: none;
	}
	#logo {
		font-size: 1.2rem;
	}
	.search-input {
		display: none;
	}
}
