:root {
	--primary-color: #2766cc;
	--secondary-color: #1198f5;
	--light-color: #2a3543;
	--input-focus: #0b6bcb;
	--background-color: #131a21;
	--icon-color: #89c24a;
	--input-backcolor: #4e4f50;
	--posttext-color: #f0f8ff;
	--reaction-icons-color: #545a5f;
}

body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: var(--background-color);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
	}
}

.box-shadow-login {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-hover:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset !important;
}
.navbar-selected {
	box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset !important;
}

.sidebar-box-shadow {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.blend-dark {
	box-shadow: rgba(170, 251, 227, 0.507) 0px 2px 5px -1px,
		rgba(224, 242, 235, 0.522) 0px 1px 3px -1px !important;
}

/* NavBar CSS */

#navbar {
	background-color: var(--light-color);
	padding: 5px;
	box-sizing: border-box;
	position: sticky;
	top: 0;
	z-index: 100;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.navbar-content {
	display: flex;
	width: 100%;
	max-width: 1380px;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

#logo {
	font-size: 1.8rem;
	font-weight: 600;
	padding: 10px 0 10px;
}

/* @media (max-width: 768px) {
	font-size: 1.2rem;
} */
.search-input {
	width: 35%;
	position: relative;
	margin: 5px;
	display: flex;
	align-items: center;
	overflow: hidden;
	border-radius: 0.375rem;
	background-color: var(--background-color);
}
.search-input > input {
	width: 100%;
	font-size: large;
	background-color: var(--background-color);
	outline: none;
	padding: 0.7rem;
	margin-left: 2rem;
	border: none;
	color: var(--posttext-color);
}

.search-input > input:focus {
	/* Adjust focus styling as needed */
	box-shadow: 0 0 0 2px var(--reaction-icons-color); /* Replace with the actual color you intend to use */
}

.icon-template {
	position: absolute;
	margin-left: 0.5rem;
}

.menu-options {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 35%;
}

.icon-button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--posttext-color);
	font-size: medium;
	font-weight: 500;
}

.button-icon {
	margin-left: 5px;
}

.feed {
	margin-top: 0.3rem;
	display: block;
}

.fonts-style {
	font-size: medium;
	color: var(--reaction-icons-color);
	font-weight: 500;
}

.rdrCalendarWrapper {
	background-color: var(--light-color) !important;
	color: var(--posttext-color) !important;
	border-radius: 0.375rem !important;
}
